pip>=25.3
setuptools>=65.0.0
wheel

streamlit
numpy==1.26.4
pandas
scikit-learn==1.6.1
spacy==3.7.2
blis==0.7.9
joblib==1.3.2
feedparser==6.0.11
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl


